.cards-root {
  margin-top: 20px;
  position: relative;
  min-height: 450px;
  max-height: auto;
  width: auto;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  align-items: center;
}

.card {
  background-color: white;
  background-size: cover;
  position: absolute;
  background: slateblue;
  display: grid;
  text-align: center;
  height: 600px;
  width: 250px;
  padding: 20px 10px !important;
  transition: box-shadow .3s;
  border: 5px solid black;
  border-radius: 5%;
  cursor: pointer;
}

